@import '@styles/defaults.module.scss';

.container {
  min-height: 120vh;
  margin-right: 12vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: $line 2px solid;
  padding-bottom: 10px;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $line 2px solid;
  }
}
.border {
  border-left: $line 2px solid;
  border-right: $line 2px solid;
}
